apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: '{{ include "simple-api.fullname" . }}-external-secret'
  namespace: simple-api
spec:
  refreshInterval: 1h

  secretStoreRef:
    name: '{{ include "simple-api.fullname" . }}-gcpsm-store'
    kind: ClusterSecretStore

  target:
    name: '{{ include "simple-api.fullname" . }}-secret'
    creationPolicy: Owner

  dataFrom:
    - extract:
        key: {{ .Values.secret.secretManagerId }}
